*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background: rgb(73, 4, 4);
    padding: 40px 140px;
}
body{
background-color: black;

}
.header__container{
display: flex;
justify-content: space-between;
align-items: center;
}
.header__content{
    display: flex;
    gap: 30px;
    align-items: center;
}
.header__div{
    color: rgb(255, 255, 255);
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0%;
text-align: left;
display: flex;
gap: 30px;
}
.header__a{
    display: flex;
    gap: 30px;
    color: black;
    text-decoration: none;
}
.btn:hover{
color: white;
background: #000;
}
.section1{
background-color: black;
padding: 40px 140px;
}
.section1__container{
display: flex;
justify-content: space-between;
color: white;
align-items: center;
}
.section1__container div{
    display: flex;
    flex-direction: column;
    gap: 43px;
    width: 480.66px;

}
.section1__container h1{
    color: rgb(255, 255, 255);
font-family: Roboto;
font-size: 51px;
font-weight: 700;
line-height: 60.61px;
letter-spacing: 0%;
text-align: left;
text-transform: uppercase;
}
.section1__container p{
    color: rgb(255, 255, 255);
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 25.6px;
letter-spacing: 0%;
text-align: left;
width: 337.66px;
height: 77px;
}
.section1__container button{
    background: rgb(141, 253, 27);
    color: black;
    margin-top: 70px;
    width: 203.59px;
height: 60px;
transition: 1s ease-in-out;
}
.section1__container button:hover{
    background-color: blue;
    color: white;


}
.section2{
background: black;
padding: 40px 140px;
}
.section2__img1{
    position:relative;
    left: -140px;
    top: -200px;    
}
.section2__img2{
    position:relative;
    right: -450px;
    top: -410px;
}
.section2__img3{
    position:relative;
    left: -140px;
    top: -600px;
}
.section2__title{
    color: rgb(255, 255, 255);
font-family: Roboto;
font-size: 38px;
font-weight: 700;
line-height: 45.48px;
letter-spacing: 0%;
text-align: center;
margin-top: 200px;
text-transform: uppercase;
}
.section2__container img{
    width: 672px;
height: 672px;
}
.section2__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.div{
    position: absolute;
    top: 1000px;
    left: 350px;
    border: 1px solid rgb(141, 253, 27);
background: rgba(34, 34, 34, 0.71);
width: 540px;
height: 270px;
color: white;
display: flex;
flex-direction: column;
align-items: center;
margin-left: 5%;
}
.section2__content .div1{
    box-sizing: border-box;
border: 1px solid rgb(141, 253, 27);
background: rgba(34, 34, 34, 0.71);
width: 540px;
height: 70px;
padding: 10px 10px;
align-items: center;
display: flex;
gap: 30px;
}
.div3{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 20px;
}
.div2{
    display: flex;
}
.img1{
    width: 100px;
    height: 100px;
    position: absolute;
width: 540px;
height: 271px;
left: 90px;
right: 90px;
top: 45px;
bottom: 949px;
}
/* .div2 img{
    width: 100px;
    height: 100px;
} */
.section2__content div h3{
    color: rgb(255, 255, 255);
font-family: Roboto;
font-size: 16px;
font-weight: 700;
line-height: 27.73px;
letter-spacing: 0%;
text-align: left;
text-transform: uppercase;
}
.section2__content div .div1__img{
    width: 40px;
    height: 40px;
}
.img1{
    
    position: absolute;
width: 129px;
height: 129px;
left: 73.77%;
right: 2.27%;
top: 30.38px;
bottom: 40.13px;
}
.img4{
    width: 150px;
    height: 150px;
}
.hr{
    background: rgb(141, 253, 27);width: 1px;
    height: 60px;
    margin: 60px 270px;
}
.section2__content div .div1 .div__div10{
    box-sizing: border-box;
border: 1px solid rgb(141, 253, 27);width: 45px;
height: 45px;
color: rgb(141, 253, 27);
font-family: Roboto;
font-size: 28px;
font-weight: 700;
line-height: 28.43px;
letter-spacing: 0%;
text-align: left;
}
.div2{
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
.div11 p{
    color: rgb(255, 255, 255);
    font-family: Roboto;
    width: 300px;
    font-size: 11px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}
.div10{
    position: absolute;
    top: 470px;
    border: 1px solid rgb(141, 253, 27);
background: rgba(34, 34, 34, 0.71);
width: 540px;
height: 270px;
color: white;
}
.div20{
    position: absolute;
    top: 470px;
    border: 1px solid rgb(141, 253, 27);
background: rgba(34, 34, 34, 0.71);
width: 540px;
height: 270px;
color: white;
}
.section3{
    margin-top: -550px;
padding: 40px 140px;
}
.fitst{
    color: rgb(255, 255, 255);
font-family: Roboto;
font-size: 48px;
margin-top: 0px;
font-weight: 400;
line-height: 45.48px;
letter-spacing: 0%;
text-align: left;
text-transform: uppercase;
z-index: 99999999999;
}
.second{
    color: rgb(168, 168, 168);
font-family: Roboto;
font-size: 48px;
font-weight: 700;
line-height: 45.48px;
letter-spacing: 0%;
text-align: left;
margin-top: -0px;
text-transform: uppercase;
}
.third{
    color: rgb(255, 255, 255);
font-family: Roboto;
font-size: 40px;
font-weight: 700;
line-height: 45.48px;
letter-spacing: 0%;
text-align: left;
text-transform: uppercase;
}
.section3 h1{
    color: rgb(255, 255, 255);
font-family: Roboto;
font-size: 38px;
font-weight: 700;
line-height: 45.48px;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
}
.h2{
    margin-top: 100px;
}
.div100{
    color:white ;
}
#firdt1{
    margin-bottom: 30px;
    height: 200px;
}
.div100 div div{
    display: flex;
    background: rgb(46, 46, 46);
    width: 400px;
    height: 30px;
    padding: 5px;
}

#hallo{
    margin-left:340px ;
    margin-top: -17px;
}
.h2__img{
    display: flex;
    justify-content: start;
    margin-top: 30px;
    width: 360px;
height: 360px;
}
.div16{
    display: flex;
    justify-content: space-between;
}
.div15{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 150px;
}
.div15 div{
    display: flex;
    flex-direction: column;
}
.div15 div input{

    color: rgb(255, 255, 255);
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.section4{
    margin-top: 40px;
    padding: 40px 140px;
}
.section4 h1{
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 96px;
    font-weight: 700;
    line-height: 45.48px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 100px;
}
.section4__container{
    display: flex;
    justify-content: space-between;
}
.section4__container .img5{
width: 270px;
height: 300px;
}
.section4__container .h2__p{
    color: rgb(141, 253, 27);
font-family: Roboto;
font-size: 11px;
font-weight: 600;
line-height: 12px;
letter-spacing: 1px;
text-align: center;
text-transform: uppercase;
}
.div17{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: -10px;
    margin-bottom: 30px;
}
.section4__container div p{
    color: rgb(255, 255, 255);
font-family: Roboto;
font-size: 12px;
font-weight: 500;
line-height: 19.2px;
letter-spacing: 0%;
text-align: center;width: 238px;
height: 58px;
}
.section5{
    padding: 30px 130px;
    display: flex;
    justify-content: space-between;
}
.section5 div{
    display: flex;
    flex-direction: column;
    gap: 45px;
}
.section5 div .p3{
    color: rgb(255, 255, 255);
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 25.6px;
letter-spacing: 0%;
text-align: left;
width: 345px;
height: 77px;
}
.section5__h2{
    color: rgb(141, 253, 27);
font-family: Roboto;
font-size: 51px;
font-weight: 700;
line-height: 60.61px;
letter-spacing: 0%;
text-align: left;
text-transform: uppercase;
}
.section5__h1{
    color: rgb(255, 255, 255);
font-family: Roboto;
font-size: 51px;
font-weight: 700;
line-height: 60.61px;
letter-spacing: 0%;
text-align: left;
text-transform: uppercase;
}
.section5__btn{
    background: rgb(141, 253, 27);
    width: 213px;
height: 43px;
display: flex;
padding: 10px 40px;
align-items: center;
gap: 15px;
color: black;
transition: 1s ease-in-out;
}
.section5__btn:hover{
    background: blue;
    color: white;
}
.footer{
    background: rgb(66, 0, 106);
    padding: 100px 130px;
}
.footer__div{
display: flex;
flex-direction: column;
gap: 30px;
text-decoration: none;
color: white;
}
.fdiv{
    display: flex;
    gap: 70px;
}
.footer_img{
height: 40px;
}
.footer__img{
display: flex;
gap: 10px;
}
.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}